@model DoAn.Models.Customer

@{
    ViewBag.Title = "Thêm khách hàng mới";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 fw-bold"
            style="float: left;
                   color: #4e73df;
                   font-size: 16px">
            Danh sách khách hàng
        </h6>
        <a href="~/Admin/Customer/FindAll"
           style="float: right;
                  color: #4e73df">
            Quay lại
        </a>
    </div>
    <div class="card-body">
        <table class="table table-responsive">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label class="col-md-2 control-label">Tên khách hàng: </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Cus_Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Cus_Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Ngày sinh: </label>
                        <div class="col-md-10">
                            <input type="date" class="form-control" name="Cus_BirthDate" value="@string.Format("{0:yyyy-MM-dd}", Model.Cus_BirthDate)" />
                            @Html.ValidationMessageFor(model => model.Cus_BirthDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Địa chỉ: </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Cus_Address, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Cus_Address, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Số điện thoại: </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Cus_Phone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Cus_Phone, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Số tiền đã mua: </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Cus_Money, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Cus_Money, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Trạng thái: </label>
                        <div class="col-md-10">
                            <select class="form-control" name="Cus_Status">
                                <option value="true">Đang hoạt động</option>
                                <option value="false">Đã bị khóa</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Thêm mới" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            }
        </table>
    </div>
</div>
