@model IEnumerable<DoAn.Models.Customer>

@{
    ViewBag.Title = "Danh Sách Khách Hàng";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 fw-bold"
            style="float: left;
                   color: #4e73df;
                   font-size: 16px">
            Danh sách khách hàng
        </h6>
        <a href="~/Admin/Customer/AddNew"
           style="float: right;
                  color: #4e73df">
            Thêm mới
        </a>
    </div>
    <table class="table table-responsive">
        <tr>
            <th>ID</th>
            <th>
                Tên Khách Hàng
            </th>
            <th>
                Ngày Sinh
            </th>
            <th>
                Địa Chỉ
            </th>
            <th>
                SĐT
            </th>
            <th>
                Số tiền đã mua
            </th>
            <th>
                Trạng Thái
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cus_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cus_Name)
                </td>
                <td>
                    @string.Format("{0:dd-MM-yyyy}", item.Cus_BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cus_Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cus_Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cus_Status)
                </td>
                <td>
                    <a href="~/Admin/Customer/Update?Cus_ID=@item.Cus_ID">Update</a> |
                    <a href="~/Admin/Customer/Delete?Cus_ID=@item.Cus_ID">Delete</a>
                </td>
            </tr>
        }

    </table>
</div>
