@model DoAn.Models.Order

@{
    ViewBag.Title = "Cập nhật đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 fw-bold"
            style="float: left;
                   color: #4e73df;
                   font-size: 16px">
            Cập nhật đơn hàng
        </h6>
        <a href="~/Admin/Order/FindAll"
           style="float: right;
                  color: #4e73df">
            Quay lại
        </a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Order_ID)

                    <div class="form-group">
                        <label class="col-md-2 control-label">Mã khách hàng - Tên khách hàng: </label>
                        <div class="col-md-10">
                            <select name="Order_CusID" class="form-control">
                                @foreach (var cus in new DoAn.Models.mapOrder().FindAll())
                                {
                                    <option value="@cus.Order_CusID" @(cus.Order_CusID == Model.Order_CusID ? "selected" : "")>
                                        @cus.Order_CusID - @cus.Customer.Cus_Name
                                    </option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Ngày đặt hàng: </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Order_Date, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                            @Html.ValidationMessageFor(model => model.Order_Date, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">SĐT đặt hàng: </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Order_Phone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Order_Phone, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Địa chỉ giao hàng: </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Order_Address, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Order_Address, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Chi tiết đơn hàng: </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Order_Detail, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Order_Detail, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Tổng phụ: </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Order_SubTotal, new { htmlAttributes = new { @class = "form-control", type = "number" } })
                            @Html.ValidationMessageFor(model => model.Order_SubTotal, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Voucher: </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Order_Discount, new { htmlAttributes = new { @class = "form-control", type = "number" } })
                            @Html.ValidationMessageFor(model => model.Order_Discount, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Phí ship: </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Order_ShipFee, new { htmlAttributes = new { @class = "form-control", type = "number" } })
                            @Html.ValidationMessageFor(model => model.Order_ShipFee, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Tổng thanh toán: </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Order_Total, new { htmlAttributes = new { @class = "form-control", type = "number" } })
                            @Html.ValidationMessageFor(model => model.Order_Total, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10"
                             style="padding-top:16px">
                            <input type="submit" value="Lưu thông tin đơn hàng" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


