@model DoAn.Models.ProductDetail

@{
    ViewBag.Title = "GetDetail";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h2>GetDetail</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductDetail_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_NewPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_NewPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_OldPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_OldPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_Discout)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Discout)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Image)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Product_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
